00报文标准/CIPSV3.0.1/4. 新版报文Schema & 报文样例_20260323/Schema/cips.112.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2025 Feb 17 17:56:16, ISO 20022 version : 2013-->
<!--Modified by Cips on 2025-10-01 00:00:00, Cips version : 2025-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.12" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.12">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice_ext">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1_ext"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountType2Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CategoryPurpose1Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max5Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditTransferTransaction67_ext">
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification13_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTpInf" type="PaymentTypeInformation28_ext"/>
            <xs:element name="IntrBkSttlmAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="SttlmPrty" type="Priority3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTmIndctn" type="SettlementDateTimeIndication1_ext"/>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:sequence>
                    <xs:element name="PrvsInstgAgt1" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt1Acct" type="CashAccount40_ext_comp_act_2"/>
                </xs:sequence>
                <xs:sequence maxOccurs="1" minOccurs="0">
                    <xs:sequence>
                        <xs:element name="PrvsInstgAgt2" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt2Acct" type="CashAccount40_ext_comp_act_2"/>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="0">
                        <xs:sequence>
                            <xs:element name="PrvsInstgAgt3" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt3Acct" type="CashAccount40_ext_comp_act_2"/>
                        </xs:sequence>
                    </xs:sequence>
                </xs:sequence>
            </xs:sequence>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification8_ext_inst"/>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification8_ext_inst"/>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:sequence>
                    <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="CashAccount40_ext_comp_act_2"/>
                </xs:sequence>
                <xs:sequence maxOccurs="1" minOccurs="0">
                    <xs:sequence>
                        <xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2Acct" type="CashAccount40_ext_comp_act_2"/>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="0">
                        <xs:sequence>
                            <xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3Acct" type="CashAccount40_ext_comp_act_2"/>
                        </xs:sequence>
                    </xs:sequence>
                </xs:sequence>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:element maxOccurs="2" minOccurs="0" name="InstrForCdtrAgt" type="InstructionForCreditorAgent3_ext"/>
            <xs:element maxOccurs="6" minOccurs="0" name="InstrForNxtAgt" type="InstructionForNextAgent1_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Purpose2Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation2_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygCstmrCdtTrf" type="CreditTransferTransaction68_cov_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditTransferTransaction68_cov_ext">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtDbtr" type="PartyIdentification272_ext_comp_pty_2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPty" type="PartyIdentification272_ext_comp_pty_2"/>
            <xs:sequence>
                <xs:element name="Dbtr" type="PartyIdentification272_ext_comp_pty_2"/>
                <xs:element name="DbtrAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgtAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="PrvsInstgAgt1" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt1Acct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="PrvsInstgAgt2" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt2Acct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="PrvsInstgAgt3" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstgAgt3Acct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt1Acct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="IntrmyAgt2" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt2Acct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence maxOccurs="1" minOccurs="0">
                <xs:element name="IntrmyAgt3" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt3Acct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification8_ext_othr"/>
                <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgtAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="Cdtr" type="PartyIdentification272_ext_comp_pty_2"/>
                <xs:element name="CdtrAcct" type="CashAccount40_ext_comp_act_2"/>
            </xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UltmtCdtr" type="PartyIdentification272_ext_comp_pty_2"/>
            <xs:element maxOccurs="2" minOccurs="0" name="InstrForCdtrAgt" type="InstructionForCreditorAgent3_ext"/>
            <xs:element maxOccurs="6" minOccurs="0" name="InstrForNxtAgt" type="InstructionForNextAgent1_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmtInf" type="RemittanceInformation22_ext"/>
            <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1_ext">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text_required"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FICdtTrf" type="FinancialInstitutionCreditTransferV12_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionCreditTransferV12_ext">
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader131_ext"/>
            <xs:element name="CdtTrfTxInf" type="CreditTransferTransaction67_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryData" type="SupplementaryData1_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1_ext">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text_ext_required"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader131_ext">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text_ext_required"/>
            <xs:element name="CreDtTm" type="ISODateTime_UTC8"/>
            <xs:element name="NbOfTxs" type="Max15NumericText"/>
            <xs:element name="SttlmInf" type="SettlementInstruction15_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime_UTC8">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[^\.]*(\.\d{3}){0,1}\+08:00"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionForCreditorAgent3_ext">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="Max140Text_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionForNextAgent1_ext">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="Max35Text_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text_ext">
        <xs:restriction base="CipsTextExt">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text_ext">
        <xs:restriction base="CipsTextExt">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_ext">
        <xs:restriction base="CipsTextExt">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text_ext">
        <xs:restriction base="CipsTextExt">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text_required">
        <xs:restriction base="String_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_required">
        <xs:restriction base="String_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5Text_ext_required">
        <xs:restriction base="CipsTextExt_required">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification13_ext">
        <xs:sequence>
            <xs:element name="InstrId" type="Max16Text_ext_required"/>
            <xs:element name="EndToEndId" type="Max35Text_ext_required"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysRef" type="Max35Text_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTypeInformation28_ext">
        <xs:sequence>
            <xs:element maxOccurs="3" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice_ext">
        <xs:choice>
            <!-- <xs:element name="Cd" type="Max4Text_ext_required"/> -->
            <xs:element name="Prtry" type="IDTypeCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Priority3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT"/>
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProxyAccountIdentification1_ext">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice_ext"/>
            <xs:element name="Id" type="Max2048Text_ext_required"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Purpose2Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation2_ext">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ustrd" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RemittanceInformation22_ext">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ustrd" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceLevel8Choice_ext">
        <xs:choice>
            <xs:element name="Cd" type="Max4Text_ext_required"/>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementDateTimeIndication1_ext">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementInstruction15_ext">
        <xs:sequence>
            <xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="INGA"/>
            <xs:enumeration value="COVE"/>
            <xs:enumeration value="CLRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1_ext">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text_ext_required"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1_ext">
        <xs:sequence>
            <xs:element name="Cnts" type="SupplementaryDataEnvelopeCtnts1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelopeCtnts1">
        <xs:sequence>
            <xs:element name="XpctdSttlmDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizPhs" type="BizPhaseTypeCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BizPhaseTypeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYT"/>
            <xs:enumeration value="NITT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- cips standard comp  -->
    <xs:complexType name="CashAccount40_ext_comp_act_2">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress27_ext_comp_addr_2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text_ext"/>
            <xs:element name="TwnNm" type="Max35Text_required"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification8_ext_inst">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification23_ext_comp_agt_2_inst"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification8_ext_othr">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification23_ext_comp_agt_2_othr"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification23_ext_comp_agt_2_inst">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_ext"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_ext"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="LEI" type="LEIIdentifier"/>
                </xs:sequence>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1_ext"/>       
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification23_ext_comp_agt_2_othr">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="Nm" type="Max140Text_required"/>
                    <xs:element name="PstlAdr" type="PostalAddress27_ext_comp_addr_2"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:choice>
                        <xs:sequence>
                            <xs:element name="BICFI" type="BICFIDec2014Identifier"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_ext"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_ext"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="LEI" type="LEIIdentifier"/>
                        </xs:sequence>
                    </xs:choice>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="Nm" type="Max140Text_required"/>
                        <xs:element name="PstlAdr" type="PostalAddress27_ext_comp_addr_2"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification18_ext_comp_prvt_2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1_ext"/>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericPersonIdentification2_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification39_ext_comp_org_2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="2" minOccurs="0" name="Othr" type="GenericOrganisationIdentification3_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification272_ext_comp_pty_2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="Party52Choice_ext"/>
                <xs:sequence>
                    <xs:element name="Nm" type="Max140Text_required"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27_ext_comp_addr_2"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party52Choice_ext"/>
                </xs:sequence>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2_ext">
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_ext"/>
            <xs:element name="MmbId" type="Max35Text_ext_required"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1_ext">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text_ext_required"/>
            <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification2_ext">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text_ext_required"/>
            <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification3_ext">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text_ext_required"/>
            <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice_ext"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text_ext"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party52Choice_ext">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification39_ext_comp_org_2"/>
            <xs:element name="PrvtId" type="PersonIdentification18_ext_comp_prvt_2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice_ext">
        <xs:sequence>
            <xs:element name="Prtry" type="Max35Text_ext_required"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IDTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[1-9]|1[0-9]|2[0-1]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CipsTextExt">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z\.,\-_\(\)/=\+\?!\*;@#:%\[\]'&quot;`\\$\{\}^\|~&lt;&gt;&amp; ]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_required">
        <xs:restriction base="xs:string">
            <xs:pattern value=".*\S.*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CipsTextExt_required">
        <xs:restriction base="CipsTextExt">
            <xs:pattern value=".*\S.*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
