00报文标准/CIPSV3.0.1/4. 新版报文Schema & 报文样例_20260323/Schema/cips.902.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Cips on 2025-10-01 00:00:00, Cips version : 2025-->
<xs:schema xmlns="urn:cips:std:cips:2025:tech:xsd:cips.902.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cips:std:cips:2025:tech:xsd:cips.902.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="AdministrationProprietaryMessage2">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageReference"/>
			<xs:element name="PrtryData" type="ProprietaryData2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorityInformation2">
		<xs:sequence>
			<xs:element name="InitPtcpt" type="Max35Text_ext"/>
			<xs:element minOccurs="0" name="SndBizAuthrtyInf" type="BusinessAuthorityInformation1"/>
			<xs:element minOccurs="0" name="RcvBizAuthrtyInf" type="BusinessAuthorityInformation1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Currency">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="AuthrtyInf" type="AuthorityInformation2"/>
		</xs:sequence>
		<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
	</xs:complexType>
	<xs:complexType name="Data2">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Ccy" type="Currency"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="AdmstnPrtryMsg" type="AdministrationProprietaryMessage2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35Text_ext">
		<xs:restriction base="CipsTextExt0">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageReference">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text_ext"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text_ext"/>
			<xs:element name="Data" type="Data2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessAuthorityInformation1">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="MT" type="Max35Text_ext"/>
		</xs:sequence>
	</xs:complexType>
    <xs:simpleType name="CipsTextExt0">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z\.,\-_\(\)/=\+\?!\*;@#:%\[\]'\\$\{\}^\|~\n\r\t ]*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
